<p>
  login works!
</p>


<form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <mat-form-field >
    <input matInput type="text" placeholder="Uid" formControlName="uid">
    <mat-error>UID is too short.</mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error>Password is too short.</mat-error>
  </mat-form-field>

  <button class="form__submit"
          color="primary"
          mat-raised-button>Login</button>
</form>
